* {
    /*
    border: 1px solid red;
    */
}

body {
    display: flex;
    margin: 0px;
    flex-direction: column;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    gap: 4em;
}

a {
    text-decoration: none;
}

a, .subtext, button {
    color: #E5E7EB;
    font-size: 18px;
}

.header, .footer {
    background-color: #1F2937;
}

button, .call-block {
    background-color: #3882F6;
}

button {
    border-radius: 5px;
    font-weight: bold;
    padding: 5px 20px;
    border: none;
}

button:active {
    background-color: #163261;
}

/* Header block */

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4em;
    padding-bottom: 4em;
}

.banner {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    max-width: 80%;
    padding: 1em;
}

.logo {
    font-size: 24px;
}

.logo, .main {
    color: #F9FAF8;
}

.links {
    display: flex;
    gap: 2em;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 80%;
    flex: 1;
    gap: 2em;
}

.text {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: 1;
}

.main {
    font-size: 48px;
    font-weight: bold;
}

.content .image {
    height: auto;
    background-color: grey;
    display: flex;
    flex: 0;
    justify-content: center;
    align-items: center;
    color: white;
    flex-shrink: 1;
}

.content .image img {
    max-width: 100vh;
    height: auto;
}

/* Information block */

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

.info-header {
    color: #1F2937;
    font-size: 36px;
    font-weight: bold;
}

.blocks {
    display: flex;
    align-items: space-around;
    max-width: 75%;
    gap: 4em;
}

.block {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 144px;
}

.images {
    border-radius: 15px;
    border: 3px solid #3882F6;
    padding: 20px;
    width: 100px;
    height: auto;
}

.block-text {
    text-align: center;
}

/* Quote block */

.quote-block {
    background-color: #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 8em 12em;
    gap: 2em;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.quote-author {
    font-weight: bold;
    font-size: 18px;
    align-self: flex-end;
}

/* Action call block */

.action-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-block {
    color: white;
    width: 80%;
    display: flex;
    justify-content: space-around;
    padding: 2em 1em;
    border-radius: 10px;
}

.call-header {
    font-size: 25px;
    font-weight: bolder;
    padding-bottom: 2px;
}

.call-subtext {
    font-size: 15px;
}

.action-block button {
    border: 1px solid white;
    align-self: center;
    max-height: 30px;
}

/* Footer block */

.footer {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 2em;
}