* {
    border: 1px solid red;
}

body {
    display: flex;
    margin: 0px;
    flex-direction: column;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header, .footer {
    background-color: #1F2937;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 80%;
    padding: 5em 7em;
    flex: 1;
}

.text {
    max-width: 50%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.content .image {
    height: auto;
    background-color: grey;
    display: flex;
    flex: 0;
    justify-content: center;
    align-items: center;
    color: white;
}

.banner {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    max-width: 80%;
}

.logo {
    font-size: 24px;
}

.main {
    font-size: 48px;
    font-weight: bold;
}

.logo, .main {
    color: #F9FAF8;
}

button, .action-block {
    background-color: #3882F6;
}

a {
    text-decoration: none;
}

a, .subtext {
    color: #E5E7EB;
    font-size: 18px;
}

.links {
    display: flex;
    gap: 2em;
}

.images {
    border-radius: 25px;
    border: 2px solid blue;
    padding: 20px;
    width: 100px;
    height: auto;
}