* {
    /*
    border: 1px solid red;
    */
}

body {
    display: flex;
    margin: 0px;
    flex-direction: column;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    gap: 2em;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4em;
    padding-bottom: 4em;
}

.header, .footer {
    background-color: #1F2937;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 80%;
    flex: 1;
    gap: 2em;
}

.text {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: 1;
}

.content .image {
    height: auto;
    background-color: grey;
    display: flex;
    flex: 0;
    justify-content: center;
    align-items: center;
    color: white;
    flex-shrink: 1;
}

.content .image img {
    max-width: 100vh;
    height: auto;
}

.banner {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    max-width: 80%;
    padding: 1em;
}

.logo {
    font-size: 24px;
}

.main {
    font-size: 48px;
    font-weight: bold;
}

.logo, .main {
    color: #F9FAF8;
}

button, .action-block {
    background-color: #3882F6;
}

button {
    border-radius: 5px;
    font-weight: bold;
    padding: 5px 20px;
    border: none;
}

.action-block button {
    border: 1px solid white;
}

button:active {
    background-color: #163261;
}

a {
    text-decoration: none;
}

a, .subtext, button {
    color: #E5E7EB;
    font-size: 18px;
}

.links {
    display: flex;
    gap: 2em;
}

.images {
    border-radius: 15px;
    border: 3px solid #3882F6;
    padding: 20px;
    width: 100px;
    height: auto;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

.info-header {
    color: #1F2937;
    font-size: 36px;
    font-weight: bold;
}

.blocks {
    display: flex;
    align-items: space-around;
    max-width: 75%;
    gap: 4em;
}

.block {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 144px;
}

.block-text {
    text-align: center;
}